<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TourEasy1 -->
      <package
            uri="http:///tourEasy.ecore"
            class="tourEasy.TourEasyPackage"
            genModel="TourEasy1.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TourEasy1 -->
      <package
            uri="http://www.eclipse.org/uml2/5.0.0/Types"
            class="org.eclipse.uml2.types.TypesPackage"
            genModel="TourEasy1.genmodel"/>
   </extension>

</plugin>
